<!DOCTYPE html>

<title>
    House Price Prediction
</title>

<body>
    <div class="login">

        <h1>Predict House Price in California</h1>

        <form action="{{ url_for('predict')}}" method="POST">
            Median Income <input type ="text" name="MedInc" required="required"><br>
            Median House Age<input type ="text" name="HouseAge" required="required"><br>
            Avg Rooms/Household<input type ="text" name="AveRooms" required="required"><br>
            Avg Bedrooms/Household<input type ="text" name="AveBedrms" required="required"><br>
            Block Population<input type ="text" name="Population" required="required"><br>
            Avg Household members<input type ="text" name="AveOccup" required="required"><br>
            Latitude<input type ="text" name="Latitude" required="required"><br>
            Longitude<input type ="text" name="Longitude" required="required"><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        <br>
    </div>  

    {{predicted_value}}
    
</body>

</html>

